.new-expense {
    background-color: #7e0cf5;
    padding: 1rem;
    margin: 2rem auto;
    width: 50rem;
    max-width: 95%;
    border-radius: 12px;
    text-align: center;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25);
}

.new-expense button {
    font: inherit;
    cursor: pointer;
    padding: 1rem 2rem;
    border: 1px solid #c961ff;
    background-color: #c961ff;
    color: white;
    border-radius: 12px;
    margin-right: 1rem;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25);
}

.new-expense button:hover,
.new-expense button:active {
    transform: scale(1.05);
    transition: all 0.1s;
}

.new-expense button.alternative {
    color: #220131;
    border-color: transparent;
    background-color: transparent;
}

.new-expense button.alternative:hover,
.new-expense button.alternative:active {
    background-color: #ddb3f8;
}
